.cardx{
  width: 18rem;
}
.card {
  height: 150px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  
}
.paddingx{
margin-left: 40px;
}
.paddingy{
margin: 15px 30px;
}

.center{
  margin-left: 27%;
}

.custom-search {
position: relative;
width: 300px;
}
.custom-search-input {
width: 100%;
border: 1px solid #ccc;
padding: 10px 100px 10px 20px; 
line-height: 1;
outline: none;
}
.custom-search-botton {
position: absolute;
right: 3px; 
top: 3px;
bottom: 3px;
border: 0;
background: white;
color: black;
outline: none;
margin: 0;
padding: 0 10px;
border-radius: 100px;
z-index: 2;
}
.btnx{
  height: 40px;
  width: 150px;
  border-width: 2px;
  border-style: solid;
  border-color: blue;
  background-color: white;
  color: blue;
  justify-content: right;
  box-shadow: 1px 1px;
  box-shadow: blue;
  font-family: Arial;
  box-sizing: border-box;
  margin-right: 5px;
 
}
.btny{
height: 40px;
width: 150px;
border-width: 2px;
border-style: solid;
border-color: blue;
background-color: white;
color: blue;
justify-content: right;
box-shadow: 1px 1px;
box-shadow: blue;
font-family: Arial;
box-sizing: border-box;
}
.img {
width: 180px;
height: 135px;
max-width: 6cm;
padding-top: 10px; 
padding-right: 5px; 
padding-left: 12px; 
}
.img_flag {
width: 400px;
height: 360px;
}
.neighbour_img{
margin: 18px;
width: 270px;
height: 160px;
border: 1px solid gainsboro; 
padding: 0;
}
.nc{
border: .5px solid gray;
padding: 0;
margin-left: 8.5em;
margin-right: 8.5em;
width: 58rem
}
